
body{
 font-size: 13pt;
 font-family: 'NanumSquare', sans-serif;
}

#authorinfo,#caution,#lastchange{text-align: center;}

#birthday_table{
 height: 500px;
 overflow: auto;
}

table,thead,tbody,th,tr,td{border: 1px solid #000000;}