
body{
 font-size: 13pt;
 font-family: 'NanumSquare', sans-serif;
}

#authorinfo,#caution,#lastchange{text-align: center;}

#licenseinfo{
 text-align: center;
 font-size: 0.85em;
}

#birthday_table{
 height: 360px;
 overflow: auto;
}

table,thead,tbody,th,tr,td{border: 1px solid #000000;}