
body{
 font-size: 13pt;
 font-family: 'Noto Sans KR', sans-serif;
}

#birthday_list{
 text-align: center;
 margin: auto;
 width: 26em;
 overflow: auto;
 font-size: 0.85em;
}

#entryrow_1{width: 10%;}
#entryrow_2{width: 40%;}
#entryrow_3{width: 50%;}

#authorinfo,#legends,#caution,#lastchange{text-align: center;}

#licenseinfo{
 text-align: center;
 font-size: 0.85em;
}

#birthday_table{
 height: 360px;
 overflow: auto;
}

table,thead,tbody,th,tr,td{border: 1px solid #000000;}

#birthday_today{
text-align: center;
justify-content: center;
background-color: #F5F8FA;
background-image: url('/imgs/birthday_icon_trans.png');
background-repeat: no-repeat;
background-size: 87px;
background-position: right bottom;
font-size: 0.75em;
width: 28.5em;
margin-top: 1em;
margin-left: auto;
margin-right: auto;
padding-top: 0.5em;
padding-bottom: 1.5em;
padding-left: 0.375em;
padding-right: 0.375em;
border-radius: 1.4em;
}